<% include layouts/header.ejs %>


    <div class="container">

      <form method="post" action="/crud-update">
        <div class="modal-header">
          <h4 class="modal-title">Create Crud</h4>

        </div>

        <div class="modal-body">

            <input type="hidden" name="id" value="<%=data._id%>" class="form-control" required>
          <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" value="<%=data.name%>" class="form-control" required>
          </div>
          <div class="form-group">
            <label>Type</label>
            <input type="text" name="type" value="<%=data.type%>" class="form-control" required>
          </div>

          <div class="form-group">
            <label>Favorite</label>
            <input type="text" name="favorite" value="<%=data.favorite%>" class="form-control" required>
          </div>

        </div>
        <div class="modal-footer">
          <a href="/" class="btn btn-default" data-dismiss="modal">Cancel</a>
          <input type="submit" class="btn btn-info" value="Save">
        </div>
      </form>

    </div>


</body>
</html>
