<% include layouts/header.ejs %>

    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
						<h2>Manage <b>Crud</b></h2>
					</div>
					<div class="col-sm-6">
						<a href="/crud/create" class="btn btn-success"><i class="material-icons">&#xE147;</i> <span>Add New</span></a>
						<!-- <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Delete</span></a> -->
					</div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>

                        <th>ID</th>
                        <th>Name</th>
						            <th>Type</th>
                        <th>Favorite</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                  <% if(data.length){
                        for(var i = 0;i < data.length;i++) { %>
                        <tr>
                        <td><%=data[i]._id%></td>
                        <td><%=data[i].name%></td>
                        <td><%=data[i].type%></td>
                        <td><%=data[i].favorite%></td>

                        <td>
                            <a href="/cruds-edit/<%=data[i]._id%>" class="edit"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                            <a href="/crud-delete/<%=data[i]._id%>" onclick="return confirm('Are you sure you want to delete this item?');" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                          </td>
                        </tr>
                        <% }
                        }else{ %>
                        <tr>
                        <td colspan="3">No data found</td>
                        </tr>
                      <% } %>
                </tbody>
            </table>
			<div class="clearfix">
      

            </div>
        </div>
    </div>

</body>
</html>
