<% include layouts/header.ejs %>


    <div class="container">

      <form method="post" action="/crud-create">
        <div class="modal-header">
          <h4 class="modal-title">Create Product</h4>

        </div>
        <div class="modal-body">

          <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" required>
          </div>

          <div class="form-group">
            <label>Type</label>
            <input type="text" name="type" class="form-control" required>
          </div>

          <div class="form-group">
            <label>Favorite</label>
            <input type="text" name="favorite" class="form-control" required>
          </div>
          <!-- <div class="form-group">
            <label>Phone</label>
            <input type="text" class="form-control" required>
          </div> -->
        </div>
        <div class="modal-footer">
          <a href="/" class="btn btn-default" data-dismiss="modal">Cancel</a>
          <input type="submit" class="btn btn-info" value="Save">
        </div>
      </form>

    </div>


</body>
</html>
