<% include layouts/header.ejs %>

<div class="container">

  <div class="row">
    <div class="col-md-12">
    <h1>Error 404 </h1>

    <h2>Some error has occurred please go to home page</h2>

    </div>
  </div>

</div>

</body>
</html>
